h1{
    color: rgb(4, 4, 122);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}

a:link {
    color: rgb(244, 26, 26);
    background-color: transparent;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#footer{
    text-align: center;
}

button{
    border: 2px;
    padding: 10px;
}